@{
    ViewBag.Title = "Home Page";
}
<div class="mainContainer">
    <div class="container">
        <div class="name">
            Jaun Ball
        </div>
        <div class="headShotImg">
            <img src="~/Content/Images/Headshotedited.png" />
        </div>
        <div>
            <img class="headShotUnderLn" src="~/Content/Images/Headshot-Underline.png" />
        </div>
        <div class="bioContainer">
            <div class="bioIntroBackgrnd">
                <div class="bioIntro">
                    As a young girl, Malala Yousafzai defied the Taliban in Pakistan
                    and demanded that girls be allowed to receive an education.
                    She was shot in the head by a Taliban gunman in 2012, but survived and went
                    on to receive the Nobel Peace Prize.
                </div>
            </div>
            <br />
            <div class="bioHedrOne">
                Who Is Malala Yousafzai?
            </div>
            <div class="bioParagrph">
                Malala Yousafzai was born on July 12, 1997, in Mingora, Pakistan. As a child, she became an advocate for girls'
                education, which resulted in the Taliban issuing a death threat against her. On October 9, 2012, a gunman shot
                Malala when she was traveling home from school. She survived, and has continued to speak out on the importance of education. She was nominated for a Nobel Peace Prize in 2013. In  2014,  she was nominated again and won, becoming the youngest person to receive the Nobel Peace Prize.
            </div>
            <br />
            <div class="bioHedrOne">
                INTRO TO PROJECTS
            </div>
            On July 12, 1997, Malala Yousafzai was born in Mingora, Pakistan, located in the country's Swat Valley. For the first few years of her life, her hometown remained a popular tourist spot that was known for its summer festivals. However, the area began to change as the Taliban tried to take control.
        </div>
        <div class="exampleProjects">
            WebSite Examples and links of finshed projects
        </div>
        <div class="footer">
            footer with contact info
        </div>
    </div>
</div>